## tuples
tuple()
- built-in data structure
- immutble (not modifiable)
- unordered elemets
- seperated by comma(,)
- Tuples can be thought of as read-only lists.

### Built-in methods of tuble
use dir(tuple)

In [2]:
print(dir(tuple))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

### creating a tuple

In [8]:
tup=()
print(f"{tup} and {type(tup)} is a empty tuple")

print()
tup=1,1.1,'2',"Python" #tuple automatically place paranthesis if not given means
print(f"This is also a tuple {tup} and type is {type(tup)}")

print()
tup=("Hello","Welcome","To","Tuple")
print(f"Tuple data is {tup}")

() and <class 'tuple'> is a empty tuple

This is also a tuple (1, 1.1, '2', 'Python') and type is <class 'tuple'>

Tuple is ('Hello', 'Welcome', 'To', 'Tuple')

### accessing a tuple

either
- tup[index_position]
or
- tup.index(element)

#### index()

- __description__: Return first index of value.
- __syntax__: tup.index(value, start, stop)

In [22]:
#      0        1       2     3 >> Positive index positions 
#       -4      -3      -2    -1 >> Negative index positions
tup=("Hello","Welcome","To","Tuple")
print(f"accessing 0th element: '{tup[0]}'")
print(f"accessing last element: '{tup[-1]}'")

indx=tup.index("To")
print(f"we can also find the index of tuple using '{indx}'")

accessing 0th element: 'Hello'
accessing last element: 'Tuple'
we can also find the index of tuple using '2'

### Counting tuple elements 

#### count()

- __description__: Return first index of value.
- __syntax__: tup.index(value, start, stop)

In [33]:
tup_int=(1,2,3,1,1,12,1,4,4,5,7,8,8,8,9)

tup_str=('a','b','a','c','d','f','g')

print(f"counting integer {1} so '{tup_int.count(1)}' times repeated")
print(f"counting integer {8} so '{tup_int.count(8)}' times repeated")

print()
print(f"counting string {'a'} so '{tup_str.count('a')}' times repeated")
print(f"counting string {'b'} so '{tup_str.count('b')}' times repeated")

print()

print("Counting the element for number of times repeated in sentance")


sentance=("""Lorem ipsum dolor sit amet, 
onsectetur adipiscing elit. Ut a ligula finibus, 
accumsan urna dictum, vehicula ligula. Maecenas sit amet lacus euismod leo vehicula luctus. 
Suspendisse id purus in leo sagittis rhoncus. Duis quam ante, auctor ut lacus id, 
scelerisque vestibulum augue. Aliquam aliquet nec purus non luctus. Morbi pellentesque ut nisi eget pulvinar. 
Donec non risus tortor. Aliquam et lorem sed nibh facilisis vehicula et sit amet nisl.
Quisque at urna non turpis fringilla iaculis vitae et sapien. Aliquam sit amet bibendum sapien. 
Vestibulum maximus finibus ante, ac vehicula nulla vehicula eget.
Etiam auctor est eget augue vulputate tincidunt. Aenean bibendum est ligula, 
ullamcorper euismod nisi accumsan sed. Donec gravida bibendum urna quis pharetra. 
Proin ultrices nibh nisi, eu condimentum ante cursus ac. Suspendisse id gravida dolor. 
Nulla facilisi. Donec pharetra elit erat, eu sollicitudin massa pellentesque ac. 
Aliquam erat volutpat. Sed ac nisi eu justo gravida sodales et quis dolor. Sed feugiat tincidunt dolor, 
nec accumsan lorem egestas vel. Aliquam ac ultrices odio, 
quis lacinia ligula. Aenean diam libero, ornare at tempor nec, blandit sed eros.""")

print(f"counting string {'a'} in sentance so '{sentance.count('a')}' times repeated")

counting integer 1 so '4' times repeated
counting integer 8 so '3' times repeated

counting string a so '2' times repeated
counting string b so '1' times repeated

Counting the element for number of times repeated in sentance
counting string a in sentance so '89' times repeated

### Unpacking the tuple

In [41]:
fruits = ("apple", "banana", "cherry")
(a,b,c)=fruits
print("Unpacking tuple when elements are countable")
print(a)
print(b)
print(c)

print()

fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")
print("Unpacking tuple when elements are more")
(a,b,*c)=fruits
print(a)
print(b)
print(c)

Unpacking tuple when elements are countable
apple
banana
cherry

Unpacking tuple when elements are more
apple
banana
['cherry', 'strawberry', 'raspberry']

### Looping tuples

#### looping with out index
- no need to take len()

#### Print all items by referring to their index number:
- need to take range(len())

In [54]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")
print("Looping tuple without index[]")
for fruit in fruits:
    print(f"fruit >> {fruit}")
    
print()

print("Looping tuple with index[]")
for i in range(len(fruits)):
    print(f"fruit in {i} position >> {fruits[i]}")

Looping tuple without index[]
fruit >> apple
fruit >> banana
fruit >> cherry
fruit >> strawberry
fruit >> raspberry

Looping tuple with index[]
fruit in 0 position >> apple
fruit in 1 position >> banana
fruit in 2 position >> cherry
fruit in 3 position >> strawberry
fruit in 4 position >> raspberry

### Joining and Multiplying the tuple

#### joining use (+)


#### multiplying use (*)

In [65]:
print("Joining/Concatenating the tuple")
t1=("Hello,")
t2=("World....!")
new_t=t1+' '+t2
print(f"Tuple after joining '{new_t}'")

print()

print("multiplying the tuple..!")
t1=("Hello,")
print(t1*7)


print()

print("concatenating and multiplying the tuple..!")
t1=("Hello,")
t2=("World....")
new_t=t1+' '+(t2*7)
print(f"Tuple after joining and multiplying '{new_t}'")

Joining/Concatenating the tuple
Tuple after joining 'Hello, World....!'

multiplying the tuple..!
Hello,Hello,Hello,Hello,Hello,Hello,Hello,

concatenating and multiplying the tuple..!
Tuple after joining and multiplying 'Hello, World....World....World....World....World....World....World....'

### updating/ modifying the tuple

- since __tuple__ is immutable(not modifiable) so we need to convert it to list and then we can update it/ modify it.
- to convery it use explicit type conversion.

In [79]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

# covert the tuple to list
lst=list(fruits)
print("explicitly converting it to list:",lst,type(lst))


# now we can update/add data to list 
lst.append("New Fruit Mango is added")
print(lst)

print()

# convert the list to tuple
# now updated list convert it to tuple
new_fruits=tuple(lst)
print("After Updating/Modifying:",new_fruits,type(new_fruits))

explicitly converting it to list: ['apple', 'banana', 'cherry', 'strawberry', 'raspberry'] <class 'list'>
['apple', 'banana', 'cherry', 'strawberry', 'raspberry', 'New Fruit Mango is added']

After Updating/Modifying: ('apple', 'banana', 'cherry', 'strawberry', 'raspberry', 'New Fruit Mango is added') <class 'tuple'>

### deleting tuple

In [119]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")
print("before deleting",fruits)
del(fruits)
print("after deleting the tuple",fruits)

# error when try to execute the last statement
"""
---------------------------------------------------------------------------
NameError                                 Traceback (most recent call last)
<ipython-input-118-b352fcb95482> in <module>
      2 print("before deleting",fruits)
      3 del(fruits)
----> 4 print("after deleting the tuple",fruits)

NameError: name 'fruits' is not defined

"""

before deleting ('apple', 'banana', 'cherry', 'strawberry', 'raspberry')

NameError: name 'fruits' is not defined

## Some other built in methods

### len()
returns len() of a tuple

In [121]:
f1 = ("apple", "banana", "cherry", "strawberry", "raspberry")
f2 = ("apple", "banana", "cherry", "strawberry", "raspberry",'mango','grapes')
print(f"after finding length of f1 '{len(f1)}' and f2 '{len(f2)}'")

after finding length of f1 '5' and f2 '7'

### min()
returns min() of a tuple


### max()
returns max() of a tuple

In [107]:
f1 = ("apple", "banana", "cherry", "strawberry", "raspberry")
print(f"The minimum of f1 '{min(f1)}'")
print(f"The maximum of f1 '{max(f1)}'")

The minimum of f1 'apple'
The max of f1 'strawberry'

### in()
checks if the element in tuple or not

In [111]:
f1 = ("apple", "banana", "cherry", "strawberry", "raspberry")

print("mango" in f1)
print("apple" in f1)

False
True

## Tuple conversions to other

### tuple to list

In [87]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")
print(f"Before conversion '{type(fruits)}'")
print(fruits)
print()

fruit=list(fruits)
print(f"After conversion '{type(fruit)}'")
print(fruit)

Before conversion '<class 'tuple'>'
('apple', 'banana', 'cherry', 'strawberry', 'raspberry')

After conversion '<class 'list'>'
['apple', 'banana', 'cherry', 'strawberry', 'raspberry']

### tuple to dictionary

In [89]:
fruits = ((0,"apple"), (1,"banana"), (2,"cherry"), (3,"strawberry"), (4,"raspberry"))
print(f"Before conversion '{type(fruits)}'")
print(fruits)
print()


fruit=dict(fruits)
print(f"After conversion '{type(fruit)}'")
print(fruit)

Before conversion '<class 'tuple'>'
((0, 'apple'), (1, 'banana'), (2, 'cherry'), (3, 'strawberry'), (4, 'raspberry'))

After conversion '<class 'dict'>'
{0: 'apple', 1: 'banana', 2: 'cherry', 3: 'strawberry', 4: 'raspberry'}

### tuple to set

In [91]:
fruits = ((0,"apple"), (1,"banana"), (2,"cherry"), (3,"strawberry"), (4,"raspberry"))
print(f"Before conversion '{type(fruits)}'")
print(fruits)
print()


fruit=set(fruits)
print(f"After conversion '{type(fruit)}'")
print(fruit)

Before conversion '<class 'tuple'>'
((0, 'apple'), (1, 'banana'), (2, 'cherry'), (3, 'strawberry'), (4, 'raspberry'))

After conversion '<class 'set'>'
{(2, 'cherry'), (3, 'strawberry'), (0, 'apple'), (1, 'banana'), (4, 'raspberry')}